<!DOCTYPE html>
<html>
    <head>
        <title>CRUD Personas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container my-2">
            <h1> Lista Personas </h1>
            <a th:href="@{/formularioNuevaPersona}" class="btn btn-primary btn-sm mb-3"> AÑADIR PERSONA </a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{'/pagina/' + ${paginaActual} + '?sortStr=nombre&sortDir=' + ${sortDirReves}}">
                                Nombre </a>
                        </th>
                        <th>
                            <a th:href="@{'/pagina/' + ${paginaActual} + '?sortStr=apellido&sortDir=' + ${sortDirReves}}">
                                Apellido </a>
                        </th>
                        <th>
                            <a th:href="@{'/pagina/' + ${paginaActual} + '?sortStr=email&sortDir=' + ${sortDirReves}}">
                                Email </a>
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="personas : ${listPersonas}">
                        <td th:text="${personas.nombre}"></td>
                        <td th:text="${personas.apellido}"></td>
                        <td th:text="${personas.email}"></td>
                        <td><a th:href="@{/formularioActualizacion/{id}(id=${personas.id})}" class"btn btn-primary">Actualizar</a>
                            <a th:href="@{/eliminarPersona/{id}(id=${personas.id})}" class"btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div th:if = "${totalPages > 1}">
                <div class = "row col-sm-10">
                    <div class =" col-sm-2">
                        Total Filas: [[${totalElementos}]]
                    </div>
                    <div class = "col-sm-1">
                        <span th:each="i; ${#numbers.secuence(1,totalPaginas)}">
                            <a th:if="${paginaActual != i}" th:href="@{'/pagina/' + ${i} + '?sortStr=' + ${sortStr} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                            <span th:unless="${paginaActuial != i}">[[${i}]]</span> &nbsp; &nbsp; 
                        </span>
                    </div>
                    <div>
                        <span th:each="i; ${#numbers.secuence(1,totalPaginas)}">
                            <a th:if="${paginaActual != i}" th:href="@{'/pagina/' + ${paginaActual + 1} + '?sortStr=' + ${sortStr} + '&sortDir=' + ${sortDir}}">Siguiente</a>
                            <span th:unless="${paginaActuial < totalPaginas }">Siguiente</span>
                        </span>
                    </div>
                    <div>
                        <span th:each="i; ${#numbers.secuence(1,totalPaginas)}">
                            <a th:if="${paginaActual != i}" th:href="@{'/pagina/' + ${totalPaginas} + '?sortStr=' + ${sortStr} + '&sortDir=' + ${sortDir}}">Ultima</a>
                              <span th:unless="${paginaActuial < totalPaginas }">Ultima</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
