<!DOCTYPE html>
<html>
    <head>
        <title>CRUD Personas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">
    </head>
    <body>
        <div class = "container">
            <h1>Personas</h1>
            <hr>
            <h2>Nueva Persona</h2>
            
            <form action="#" th:action="@{/savePersona}" th:object="${personas}" method="POST">
                <input type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control mb-4 col-4">
                <input type="text" th:field="*{apellido}" placeholder="Apellido" class="form-control mb-4 col-4">
                <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
                
                <button type="submit" class="btn btn-info col-2"> Guardar Persona </button>
            </form>
            <hr>
            <a th:href = "@{/}"> Volver </a>
        </div>
    </body>
</html>
